.btn{
	background-color: $mainBlue;
	color: #fff;
	text-decoration: none;
	padding: .55rem 1rem;
	display: inline-block;

	&--orange{
		background-color: $btnorange;
	}

	&--large{
		font-size: 1.0rem;
		padding: 1.15rem 1.5rem;

		@mixin atSmall{
			font-size: 1.25rem;
		}
	}
	
}

