.section-title{
	font-size: 2.7rem;
	font-weight: 300;
	text-align: center;

	@mixin atSmall {
		font-size: 3.5rem;
	}

	strong{
		font-weight: 500;
	}

	&--blue {
		color: $mainBlue;
	}


	&__icon{		
		display: block;
		margin-right: auto;
		margin-left: auto;
		padding-bottom: 0.5rem;

		@mixin atSmall{
			position: relative;
			top: 15px;
			margin-right: 1rem;
			margin-left: 0;
			margin-bottom: 0;
			display: inline-block;
		}
	}
}


