
.wrapper {	
	
	overflow: hidden;
	padding-left: 1rem;
	padding-right: 1rem;
	max-width: 76rem;
	margin-right: auto;
	margin-left: auto;

	&--medium{
		max-width: 62rem;	
	}

	.wrapper {
		padding-right: 0;
		padding-left: 0;
	}

	&--b-margin {
		margin-bottom: 1.15rem;

		@mixin atSmall {
			margin-bottom: 3.5rem;
		}	
	}

	&--no-padding-until-medium {
		padding-left: 0;
		padding-right: 0;

		@mixin atMedium {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}

	&--no-padding-until-large {
		padding-left: 0;
		padding-right: 0;

		@mixin atLarge {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}
}

